打席登録

<%# hr %>
<%= form_for @bat, :url => game_bats_path do |f| %>
    <%= f.hidden_field :result, :value => 1 %>
    <button class="btn btn-primary">安打</button>
<% end %>
<%= form_for @bat, :url => game_bats_path do |f| %>
    <%= f.hidden_field :result, :value => 1 %>
    <button class="btn btn-primary">二塁打</button>
<% end %>
<%= form_for @bat, :url => game_bats_path do |f| %>
    <%= f.hidden_field :result, :value => 1 %>
    <button class="btn btn-primary">三塁打</button>
<% end %>
<%= form_for @bat, :url => game_bats_path do |f| %>
    <%= f.hidden_field :result, :value => 1 %>
    <button class="btn btn-primary">本塁打</button>
<% end %>
<%= form_for @bat, :url => game_bats_path do |f| %>
    <%= f.hidden_field :result, :value => 1 %>
    <button class="btn btn-primary">犠打・犠飛</button>
<% end %>
<%= form_for @bat, :url => game_bats_path do |f| %>
    <%= f.hidden_field :result, :value => 1 %>
    <button class="btn btn-primary">四死球</button>
<% end %>
<%= form_for @bat, :url => game_bats_path do |f| %>
    <%= f.hidden_field :result, :value => 1 %>
    <button class="btn btn-primary">アウト</button>
<% end %>
<%= form_for @bat, :url => game_bats_path do |f| %>
    <%= f.hidden_field :result, :value => 1 %>
    <button class="btn btn-primary">三振</button>
<% end %>
<%= form_for @bat, :url => game_bats_path do |f| %>
    <%= f.hidden_field :result, :value => 1 %>
    <button class="btn btn-primary">併殺打</button>
<% end %>
<%= form_for @bat, :url => game_bats_path do |f| %>
    <%= f.hidden_field :result, :value => 1 %>
    <button class="btn btn-primary">敵失</button>
<% end %>
