<div class="p-3 mb-2 bg-dark text-white">
  <table class="table table-hover">
    <thead>
      <tr class="table-danger">
        <th class="sticky-top" scope="col">試合日</th>
        <th class="sticky-top" scope="col">試合属性</th>
        <th class="sticky-top" scope="col">対戦相手</th>
      </tr>
    </thead>
    <h1>試合一覧</h1>
    <%= link_to '新規作成', new_game_path %>
    <tbody>
      <% @games.each do |game| %>
      <tr onclick='window.location="<%= '/games/' + game.id.to_s %>"' role="link">
          <th style="width:50%">
            <p class="text-white">
              <%= game.game_date %>
            </p>
          </th>
          <th>
            <p class="text-white">
              <%= game.game_name %>
            </p>
          </th>
          <th>
            <p class="text-white">
              <%= game.name %>
            </p>
          </th>
        </tr>
      <% end %>
    </tbody>
    <p>試合数:<%= Game.count %>試合</p>
    <p>Total打席:<%= Bat.count(:result) %>打席</p>
    <%# <p>Total結果:<%= Bat.group(:result).count %></p>
    <%# <p>:<%= Bat.where(result: 'dasuu') %></p>
    <%# <p>試合数:<%= Bat.where(result: 'anda') %></p>
  </table>
</div>
