<div class="h-100 bg-dark text-white">
  <div class="container-fluid">
    <table class="table table-hover">
      <div class="row">
        <div class="col-sm-12">
          <thead>
            <tr class="table-danger">
              <th class="sticky-top" scope="col">試合日</th>
              <th class="sticky-top" scope="col">試合属性</th>
              <th class="sticky-top" scope="col">対戦相手</th>
            </tr>
          </thead>
        </div>
      </div>
      <h1>試合一覧</h1>
      <i class="fas fa-baseball-ball"></i>
      <%= link_to '新規作成', new_game_path %>
      <tbody>
        <% @games.each do |game| %>
          <tr onclick='window.location="<%= '/games/' + game.id.to_s %>"' role="link">
            <th style="width:50%">
              <p class="text-white">
                <%= game.game_date %>
              </p>
            </th>
            <th>
              <p class="text-white">
                <%= game.game_name %>
              </p>
            </th>
            <th>
              <p class="text-white">
                <%= game.name %>
              </p>
            </th>
          </tr>
        <% end %>
      </tbody>
      <div class="row">
        <div class="col-xs=12  col-lg-4 offset-lg-4">
          <div class="border-bottom border-primary" style="padding-top:15px;">
            <p>試合数:<%= @user.games.count %>試合</p>
          </div>
        </div>
        <div class="col-xs=12 col-lg-4 offset-lg-4">
          <div class="border-bottom border-success" style="padding-top:15px;">
            <p>Total打席：<%= @user.daseki %>打席</p>
          </div>
        </div>
        <div class="col-xs=12 col-lg-4 offset-lg-4">
          <div class="border-bottom border-warning" style="padding-top:15px;">
            <p>Total打数：<%= @user.dasuu %>打数</p>
          </div>
        </div>
        <div class="col-xs=12 col-lg-4 offset-lg-4">
          <div class="border-bottom border-danger" style="padding-top:15px;">
            <p>Total安打：<%= @user.anda %>本</p>
          </div>
        </div>
        <div class="col-xs=12 col-lg-4 offset-lg-4">
          <div class="border-bottom border-info" style="padding-top:15px;">
            <p>Total打率：<%= @user.daritsu %></p>
          </div>
        </div>
      </div>
    </table>
    <div class="border-top border-white" style="padding-top:15px;"></div>
  </div>
</div>
