<div class="h-100 bg-dark p-3 mb-2 text-white">
  <div class="container-fluid"  style="padding-bottom:60px;">
    <table class="table table-bordered text-white">
      <thead>
        <tr class="table-danger text-dark">
          <td colspan="2" class="table-active">【<%= @game.game_name %>】&emsp;<%= @game.game_date %><br>【対戦相手】<%= @game.name %></td>
        </tr>
      </thead>
      <% @game.bats.each_with_index do |bat, index|%>
        <tbody>
          <tr>
            <th><div>第<%= index + 1 %>打席</div></th>
            <th><%= link_to bat.result.text, edit_game_bat_path(@game, bat) %></th>
          </tr>
        </tbody>
      <% end %>
      <tbody>
        <tr>
          <th>
            <div>第<%= @game.bats.count + 1 %>打席</div>
            <%= link_to '入力', new_game_bat_path(@game) %>
          </th>
        </tr>
      </tbody>
    </table>
    <div class="border-top border-bottom border-success" style="padding-top:15px;">
      <table class="table table-bordered text-white">
        <thead>
          <tr class="table-danger text-dark">
            <td colspan="2" class="table-active">今日の成績</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>打席</th>
            <th><%= @game.bats.count(:result) %></th>
          </tr>
          <tr>
            <th>打数</th>
            <th><%= @game.dasuu %></th>
          </tr>
          <tr>
            <th>安打</th>
            <th><%= @game.anda %></th>
          </tr>
          <tr>
            <th>打率</th>
            <th><%= rate_format(@game.daritsu.to_s) %></th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="border-bottom border-success table-striped table-dark" style="padding-top:15px;">
      <table class="table table-bordered text-white">
        <thead>
          <tr class="table-danger text-dark">
            <td colspan="2" class="table-active">結果内訳</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>安打</th>
            <th><%= @game.single %></th>
          </tr>
          <tr>
            <th>二塁打</th>
            <th><%= @game.double %></th>
          </tr>
          <tr>
            <th>三塁打</th>
            <th><%= @game.third %></th>
          </tr>
          <tr>
            <th>本塁打</th>
            <th><%= @game.hr %></th>
          </tr>
          <tr>
            <th>犠打・犠飛</th>
            <th><%= @game.gida %></th>
          </tr>
          <tr>
            <th>四死球</th>
            <th><%= @game.shikyuu %></th>
          </tr>
          <tr>
            <th>アウト</th>
            <th><%= @game.out %></th>
          </tr>
          <tr>
            <th>三振</th>
            <th><%= @game.sanshin %></th>
          </tr>
          <tr>
            <th>併殺打</th>
            <th><%= @game.heisatsu %></th>
          </tr>
          <tr>
            <th>敵失</th>
            <th><%= @game.tekishitsu %></th>
          </tr>
        </tbody>
      </table>
      <%= link_to '一覧に戻る', games_path(@game) %>
    </div>
  </div>
</div>
