<h1>Games#show</h1>
<%= form_with url: games_path do |f| %>
  <%= f.select :name, [["1.HIT"], ["2.ツーベース"], ["3.スリーベース"],["4.HR"],["5.OUT"]], include_blank: "選択して下さい" %>
<% end %>
<%= form_with url: games_path do |f| %>
  <%= f.select :name, [["1.HIT"], ["2.ツーベース"], ["3.スリーベース"],["4.HR"],["5.OUT"]], include_blank: "選択して下さい" %>
<% end %>
<%= form_with url: games_path do |f| %>
  <%= f.select :name, [["1.HIT"], ["2.ツーベース"], ["3.スリーベース"],["4.HR"],["5.OUT"]], include_blank: "選択して下さい" %>
<% end %>
<%= form_with url: games_path do |f| %>
  <%= f.select :name, [["1.HIT"], ["2.ツーベース"], ["3.スリーベース"],["4.HR"],["5.OUT"]], include_blank: "選択して下さい" %>
<% end %>
<%= form_with url: games_path do |f| %>
  <%= f.select :name, [["1.HIT"], ["2.ツーベース"], ["3.スリーベース"],["4.HR"],["5.OUT"]], include_blank: "選択して下さい" %>
<% end %>
<%= form_with url: games_path do |f| %>
  <%= f.select :name, [["1.HIT"], ["2.ツーベース"], ["3.スリーベース"],["4.HR"],["5.OUT"]], include_blank: "選択して下さい" %>
  <%= f.submit '送信'%>
<% end %>